* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: "Nunito", sans-serif;*/
	font-family: "Raleway", sans-serif;
	overflow: hidden;
}

html {
	scroll-behavior: smooth;
}

.heading-text {
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: "Nunito", sans-serif;
	color: #f2f2f2;
	font-weight: bold;
}

#gmap {
	width: 100%;
	height: 100%;
}

/* Theme */

main {
	background: #333;
	color: #fafafa;
}

.icons-social a {
	color: #fafafa;
}

.icons-social a svg path {
	fill: #fafafa;
}

.icons-social i {
	font-size: 4em;
}

.icons-social a:hover {
	color: #111;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: "Reem Kufi", sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.aboutMe {
	background-color: #17223b;
}

.abouText {
	color: #f2f2f2;
}

.projectsMe {
	background-color: #263859;
}

/* for mobile */
@media only screen and (max-width: 400px) {
}

/* for tablets */
@media only screen and (min-width: 410px) and (max-width: 960px) {
}

/* for desktop */
@media only screen and (min-width: 961px) {
}
